<!--extends layout-->
html
  title Post results
  head
    style
    link(href='css/styling.css', rel='stylesheet')
    link(link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet")
  
block content
  .main.container
    .row
      .col-md-6.col-md-offset-3
        
body
  P.p <strong> Our Bulletin Board </strong>
    ul.ul
      li.li
        a.a(href='/') Home
      li.li
        a.a(href='/search') All Posts
      
    h1.h1 <strong> THANK YOU. YOUR MESSAGE HAS BEEN SUCCESFULLY POSTED </strong>
  
          
      
    script(src='/js/jquery-3.1.1.min.js')
    script(src='/js/autocomplete2.js')

  
